body {
	background: #efefef;
	font-family: arial;
}

.title {
	font-size: 25px;
	font-family: arial;
}
	
a {
	color: #000000;
	text-decoration; underline;
}
	
a:hover {
	color: #000000; 
	text-decoration: none;
}
	
.title2 {
	font-size: 30px;
	margin-left: 80px;
}

p {
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 100px;
	margin-right: 150px;
	margin-left: 80px;
}


