body {
        background-image: url(bgpic.jpg);
			position: relative;
			background-repeat: no-repeat;
	    background-size: 100% 100vh;
			background-attachment: fixed;
}
#mainbox {
    width:100%;
    height: 950px;
    background-color:3DED97;
    background-size:cover;
    opacity: 95%;
    margin:0;
    padding:0;
}
#mainbox #firstrow {
    height:400px;
    width:100%;
}
#mainbox #secondrow {
    width:100%;
    height:400px;
}
#mainbox #firstrow .SeaofStrangers {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left: 3%;
    margin-bottom: 1%;
    float:left;
    color: #3DED97; 
}
#mainbox #firstrow .SeaofStrangers img{
    width:50%;
    height:50%;
}
#mainbox #firstrow .SeaofStrangers p {
    font-size:12px; 
}
#mainbox #firstrow .TurtlesAllTheWayDown {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left:3%;
    margin-bottom: 1%;
    float:left;
    color: #3DED97; 
}
#mainbox #firstrow .TurtlesAllTheWayDown img{
    width:100%;
    height:40%;
}
#mainbox #firstrow .TurtlesAllTheWayDown p {
    font-size:12px;
}
#mainbox #firstrow .ItEndsWithUs {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left:3%;
    margin-bottom: 1%;
    float:left;
    color: #3DED97; 
}
#mainbox #firstrow .ItEndsWithUs img{
    width:100%;
    height:40%;
}
#mainbox #firstrow .ItEndsWithUs p {
    font-size:12px;
}
#mainbox #firstrow .SmokeAndMirrors {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left:3%;
    margin-bottom: 1%;
    float:left;
    color: #3DED97;
}
#mainbox #firstrow .SmokeAndMirrors img{
    width:100%;
    height:40%;
}
#mainbox #firstrow .SmokeAndMirrors p {
    font-size:12px;
} 
#mainbox #firstrow .PaperTowns {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left:3%;
    margin-bottom: 1%;
    float:left;
    color: #3DED97; 
}
#mainbox #firstrow .PaperTowns img{
    width:100%;
    height:40%;
}
#mainbox #firstrow .PaperTowns p {
    font-size:12px;
}
#mainbox #secondrow .TheLoveHypothesis {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left:3%;
    float:left;
    color: #3DED97; 
}
#mainbox #secondrow .TheLoveHypothesis img{
    width:100%;
    height:40%;
}
#mainbox #secondrow .TheLoveHypothesis p {
    font-size:12px;
}
#mainbox #secondrow .AtomicHabits {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left:3%;
    float:left;
    color: #3DED97; 
}
#mainbox #secondrow .AtomicHabits img{
    width:100%;
    height:40%;
}
#mainbox #secondrow .AtomicHabits p {
    font-size:12px;
}
#mainbox #secondrow .Poemsia {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left:3%;
    float:left;
    color: #3DED97; 
}
#mainbox #secondrow .Poemsia img{
    width:100%;
    height:40%;
}
#mainbox #secondrow .Poemsia p {
    font-size:12px;
}
#mainbox #secondrow .TheLittlePrince {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left:3%;
    float:left;
    color: #3DED97; 
}
#mainbox #secondrow .TheLittlePrince img{
    width:100%;
    height:40%;
}
#mainbox #secondrow .TheLittlePrince p {
    font-size:12px;
}
#mainbox #secondrow .LookingForAlaska {
    width:15%;
    height:100%;
    padding:5px;
    border: solid 2px #99EDC3;
    margin-left:3%;
    float:left;
    color: #3DED97; 
}
#mainbox #secondrow .LookingForAlaska img{
    width:100%;
    height:40%;
}
#mainbox #secondrow .LookingForAlaska p {
    font-size:12px;
}
